@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 5em;
}

/* Navbar */

nav {
  width: 70%;
  padding: 1em 0;
}

nav,
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
}

.main-links {
  border-right: 1px solid #eaebed;
}

.signup-links {
  gap: 1.1em;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-weight: 700;
  padding: 0.25em 1.5em;
}

li {
  list-style: none;
  color: #000;
  letter-spacing: 1px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.signup-btn {
  background-color: #473bf0;
  padding: 1em 2em;
  font-size: 17px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 7px;
}

.signup-text:hover {
  text-decoration: none;
}

.signup-btn:hover,
.trial-button:hover {
  transform: scale(1.05);
  cursor: grab;
}

.signup-text {
  color: #fff;
}

/* Pricing */

h1 {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  color: #161c2d;
  margin-bottom: 0.5em;
}

.info {
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #161c2d;
  margin: 10px;
}

.pricing,
.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Questrial", sans-serif;
  width: 70%;
}

.pricing-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.highlight {
  font-size: 13px;
  letter-spacing: 1px;
  color: #473bf0;
  font-weight: bolder;
  background-color: #eeebfc;
  padding: 0.75em;
  border-radius: 100px;
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
}

.pricing-card {
  border: 1px solid #eaebed;
  border-radius: 10px;
  padding: 2em;
}

.pricing-card > p {
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 20px;
}

.plan-name {
  color: #473bf0;
  font-weight: bold;
  font-family: "Questrial", sans-serif;
  margin-bottom: 10px;
}

span {
  font-size: 40px;
  font-weight: bolder;
}

.trial-button {
  font-size: 17px;
  letter-spacing: 1px;
  color: #473bf0;
  font-weight: bolder;
  background-color: #eeebfc;
  padding: 0.75em 1em;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

/* Features */
